<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <rewrite>
    <rules>
      <rule name="Portal Services" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
      </rule>
    </rules>
  </rewrite>
	<staticContent>
		<mimeMap fileExtension=".syx" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".tab" mimeType="text/plain" />
		<mimeMap fileExtension=".asc" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
	</staticContent>



</system.webServer>

  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

</configuration>
